body {
    background-color: #282c34;
    background-image: linear-gradient(180deg, #282c34,black);
    background-repeat: no-repeat;
    color: white;
    font-family: 'Varela Round', serif;
}

.div-padding-top {
    padding-top: 70px;
}

.custom-img-styles {
    border-radius: 40px;
    margin: 10px;
}

.blur-background {
    border-radius: 30px;
    backdrop-filter: blur(10px);
}

.test-border {
    border-collapse: collapse;
    border: 2px black solid;
}

.bg-color {
    background-color: #282c34;
}

.bg-card {
    background-color: #282c34;
}

.animate-character {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, white, #760000, white);
    background-size: 200%;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 150px;
}

@keyframes textclip {
    to {
        background-position: 200%;
    }
}

.word {
    color: white;
    font: 700 normal 2.5em 'Varela Round';
}

.word-mobile {
    color: white;
    font: 500 normal 1.5em 'Varela Round';
}

.custom-height-mobile {
    height: 30px;
}

.timeline {
    border-left: 3px solid #760000;
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: #760000;
    left: -41px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    content: "";
}

.loader {
    width: 85px;
    height: 35px;
    --g1: conic-gradient(from 90deg at 3px 3px, #0000 90deg, #fff 0);
    --g2: conic-gradient(from -90deg at 22px 22px, #0000 90deg, #fff 0);
    background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    animation: l6 1s infinite alternate;
}

.loader-container {
    position: relative;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
}


@keyframes l6 {
    0% {
        background-position: 0 50%, 50% 50%, 100% 50%
    }
    20% {
        background-position: 0 0, 50% 50%, 100% 50%
    }
    40% {
        background-position: 0 100%, 50% 0, 100% 50%
    }
    60% {
        background-position: 0 50%, 50% 100%, 100% 0
    }
    80% {
        background-position: 0 50%, 50% 50%, 100% 100%
    }
    100% {
        background-position: 0 50%, 50% 50%, 100% 50%
    }
}

.animate-heading
{
    background-image: linear-gradient(-225deg, white, #760000, white);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    font-size: 70px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.animate-text
{
    background-image: linear-gradient(-225deg, white, #760000, white);
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}