body {
    background-color: #282c34;
    color: white;
    font-family: 'Varela Round', serif;
}

.div-padding-top {
    padding-top: 70px;
}

.test-height {
    height: 400px;
}

@media (min-width: 576px) {
    .custom-height {
        height: auto;
    }
}

@media (min-width: 768px) {
    .custom-height {
        height: 400px;
    }
}

@media (max-width: 575.98px) {
    .loader-margin-top {
        margin-top: 20px;
    }
}

.test-border {
    border-collapse: collapse;
    border: 2px black solid;
}

.bg-color {
    background-color: #282c34;
}

.bg-card {
    background-color: #282c34;
}

.animate-character {
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%
    );
    background-size: 200%;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 190px;
}

@keyframes textclip {
    to {
        background-position: 200%;
    }
}

.word {
    color: white;
    font: 700 normal 2.5em 'Varela Round';
}

.timeline {
    border-left: 3px solid #212529;
    position: relative;
    list-style: none;
}

.timeline .timeline-item {
    position: relative;
}

.timeline .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .timeline-item:after {
    background-color: #212529;
    left: -41px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    content: "";
}

.loader {
    width: 85px;
    height: 35px;
    --g1: conic-gradient(from 90deg at 3px 3px, #0000 90deg, #fff 0);
    --g2: conic-gradient(from -90deg at 22px 22px, #0000 90deg, #fff 0);
    background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    animation: l6 1s infinite alternate;
}

.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes l6 {
    0% {
        background-position: 0 50%, 50% 50%, 100% 50%
    }
    20% {
        background-position: 0 0, 50% 50%, 100% 50%
    }
    40% {
        background-position: 0 100%, 50% 0, 100% 50%
    }
    60% {
        background-position: 0 50%, 50% 100%, 100% 0
    }
    80% {
        background-position: 0 50%, 50% 50%, 100% 100%
    }
    100% {
        background-position: 0 50%, 50% 50%, 100% 50%
    }
}