body {
    font-family: 'Varela Round', serif;
    background-image: linear-gradient(180deg, #282c34, black);
}

.impressum_settings {
    padding-top: 5px;

}

.blur-background {
    border-radius: 30px;
    backdrop-filter: blur(10px);
}

.custom-height-reviews {
    min-height: 190px;
}

@media (max-width: 576px) {
    .custom-height-reviews {
        min-height: 350px;
    }
}
